@font-face {
    font-family: "HanksenGrotesk";
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "HanksenGrotesk";
    src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "HanksenGrotesk";
    src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "HanksenGrotesk";
    src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    /*Primary*/
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-red-a: hsla(0, 100%, 67%, 20%);
    --orangey-yellow-a: hsla(39, 100%, 56%, 20%);
    --green-teal-a: hsla(166, 100%, 37%, 20%);
    --cobalt-blue-a: hsla(234, 85%, 45%, 20%);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    /*Gradients*/
    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royal-blue-background: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);
}

body {
    background-color: var(--white);
    margin: 0;
    height: 100vh;
}


.container {
    font-family: 'HanksenGrotesk', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result {
    background-image: linear-gradient(to bottom, var(--light-slate-blue-background), var(--light-royal-blue-background));

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    padding: 1.5rem 5rem 3rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result > span {
    color: var(--light-lavender);
    font-size: 2rem;
    font-weight: 700;
}

.result .score-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 6rem;

    border-radius: 100%;
    width: 14rem;
    height: 14rem;

    background-image: linear-gradient(to bottom, var(--violet-blue-circle), var(--persian-blue-circle));
}

.result .score-circle .your-score {
    font-weight: 800;
    font-size: 6rem;
    color: var(--pale-blue);
}

.result .score-circle .total-score {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--pale-blue);

    width: 5rem;
}

.result .score-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result .score-description .score-text {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--pale-blue);
}

.result .score-description > p {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--light-lavender);
    text-align: center;
}

.summary ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.summary {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.summary > span {
    color: var(--dark-gray-blue);
    font-size: 2rem;
    font-weight: 700;
}

.summary .summary-list {
    margin-top: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary .summary-list > li {
    display: flex;
    justify-content: space-between;

    padding: 1rem;

    border-radius: .5rem;

}

.summary .summary-list > li.reaction {
    background-color: var(--light-red-a);
}

.summary .summary-list > li.memory {
    background-color: var(--orangey-yellow-a);
}

.summary .summary-list > li.verbal {
    background-color: var(--green-teal-a);
}

.summary .summary-list > li.visual {
    background-color: var(--cobalt-blue-a);
}

.type {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.type > img {
    max-width: 2rem;
}

.type > span {
    margin-top: .2rem;
    font-weight: 800;
    font-size: 1.125rem;
}

.reaction .type .summary-type {
    color: var(--light-red);
}

.memory .type .summary-type {
    color: var(--orangey-yellow);
}

.verbal .type .summary-type {
    color: var(--green-teal);
}

.visual .type .summary-type {
    color: var(--cobalt-blue);
}

.score {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--dark-gray-blue);
}
.score .summary-cap-score {
    opacity: 0.6;
}

.summary > button{
    all: unset;
}

.summary > button {
    min-width: 90%;
    align-self: center;

    margin: 3rem;
    padding: 1.5rem;
    border-radius: 3rem;

    background-color: var(--dark-gray-blue);

    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 800;
}

.summary button:hover, .summary button:focus {
    background-image: linear-gradient(to bottom, var(--light-slate-blue-background), var(--light-royal-blue-background));
}

footer {
    position: fixed;
    bottom: 0.313rem;
}

@media (min-width: 600px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto; /* Centers the main element horizontally */
    }

    .container {
        flex-direction: row;

        border-radius: 20px;

        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Black shadow with some transparency */

    }
    .result {
        border-radius: 20px;
        max-width: 30rem;
    }
    .container .summary {
        min-width: 30rem;
    }
}

